@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  50%,
  100% {
    transform: translateX(400%);
  }
}

.shimmer {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: rgba(52, 58, 64, 0.1);
  filter: blur(15px);
  animation: loading 2s infinite;
}

.thumbnail,
.title,
.hashtag {
  position: relative;
  overflow: hidden;
  background-color: var(--gray900);
}

.thumbnail {
  width: 100%;
  aspect-ratio: 3 / 1.95;
  margin-bottom: 16px;
}

.title {
  width: 45%;
  height: 27px;
  margin-bottom: 4px;
  border-radius: 99px;
}

.hashtag {
  width: 100%;
  height: 27px;
  border-radius: 99px;
}
