.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 30px;
  background-color: var(--gray950);
}

.logo,
.links,
.menu {
  flex: 1;
  display: flex;
  white-space: nowrap;
}

.logo > a {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--gray300);
}

.links {
  justify-content: center;
  gap: 30px;
}

.nav_link {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--gray600);
}

.nav_link.active,
.nav_link:hover {
  color: white;
}

.menu {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}

.menu button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nickname {
  margin-left: 8px;
  font-size: 0.85rem;
}

.study_btn {
  padding: 10px 14px;
  color: var(--gray950);
  background-color: var(--primary);
  font-size: 0.85rem;
  font-weight: 500;
  border-radius: 4px;
}
