.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 32px 0;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: calc(-50vw + 50%);
  z-index: -1;
  background-color: black;
}

.thumbnail {
  width: 100%;
  height: 15em;
  background-color: var(--gray900);
}

.detail_box {
  width: 100%;
}

.detail_box > h3 {
  margin: 0;
  margin-bottom: 0.7em;
  font-size: 1.2rem;
  font-weight: 500;
}

.detail_box > p {
  margin: 0;
  margin-bottom: 4px;
  font-size: 0.9rem;
}

.label {
  margin-right: 8px;
  font-weight: 500;
  color: var(--gray300);
}

.content {
  font-size: 0.9rem;
  color: var(--gray500);
}

.content_rule {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
  font-size: 0.9rem;
  color: var(--gray500);
}

.ranking {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ranking > li {
  display: flex;
  align-items: center;
  margin: 0.2em 0;
  padding: 0.6em;
  border-radius: 4px;
  background-color: var(--gray950);
}

.nickname {
  margin-right: auto;
  font-size: 0.9rem;
  color: var(--gray700);
}

.time {
  font-size: 0.7rem;
  color: var(--gray700);
}

.ranking > li.active > .nickname {
  color: var(--primary);
}

.ranking > li.active > .time {
  color: var(--gray500);
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .thumbnail {
    width: 300px;
  }
}
